body {
	background: url(../img/shuiye.gif);
	background-color: rgba(255, 255, 255, 0.8);
	background-size: 35% 35%;
}
ul {
	list-style: none;
	/* 去掉列表样式小点 */
}

li {
	list-style: none;
}

a {
	color: #050505;
	text-decoration: none !important;
	/* 取消下划线 */
}
/*
编写者：LaoDeng
注：出现"_" 为自定义类名
 */

@media (max-width:992px) {
	._input-group {
		width: 180px;
	}

	body {
		background: url(../img/shuiye.gif);
		background-color: rgba(255, 255, 255, 0.8);
		background-size: 25% 25%;
	}
}

@media (max-width:767px) {
	#containers {
		width: auto!important;
		height: 480px;
		position: relative;
		overflow: hidden;
	}

	.items img {
		height: 420px;
		text-align: center;
	}

	.taba {
		list-style: none;
		left: 200px;
		top: 445px;
		color: #999999;
		position: absolute;
	}

	#tabss {
		width: 100%;
		position: absolute;
		bottom: 20px;
		left: -20px;
		top: 445px!important;
	}
}

@media (max-width:764px) {
	._input-group {
		width: 100%;
	}

	.statistical {
		font-size: 12px!important;
		padding-top: 38px!important;
		display: none;
	}
}

@media (max-width:705px) {
	.statistical {
		font-size: 8px;
		display: none;
	}

	#containers {
		width: auto!important;
		height: 390px!important;
		position: relative;
		overflow: hidden;
		margin-left: 14px;
	}

	.taba {
		list-style: none;
		left: 200px;
		top: 320px!important;
		color: #999999;
		position: absolute;
	}

	#tabss {
		width: 100%;
		position: absolute;
		bottom: 20px;
		left: -20px;
		top: 320px!important;
	}
	.items img {
		height: 310px!important;
		width: 100%;
		text-align: center;
	}
}

@media (max-width:669px) {
	#containers {

		margin-left: 5px;
	}
}
@media (max-width:425px) {
	#containers {
		width: auto;
		height: 320px;
		position: relative;
		overflow: hidden;
	}

	.items img {
		height: 100%;
		width: 100%;
		text-align: center;
	}

	.taba {
		list-style: none;
		left: 200px;
		top: 245px;
		color: #999999;
		position: absolute;
	}

	#tabss {
		width: 100%;
		position: absolute;
		bottom: 20px;
		left: -20px;
		top: 245px;
	}
}

@media (max-width:402px) {
	#containers {
		width: auto;
		height: 250px;
		position: relative;
		overflow: hidden;
	}

	.items img {
		height: 100%;
		width: 100%;
		text-align: center;
	}

	.taba {
		list-style: none;
		left: 200px;
		top: 205px;
		color: #999999;
		position: absolute;
	}

	#tabss {
		width: 100%;
		position: absolute;
		bottom: 20px;
		left: -20px;
		top: 205px;
	}
}

@media (max-width:320px) {
	#containers {
		width: auto;
		height: 230px;
		position: relative;
		overflow: hidden;
	}

	.items img {
		height: 100%; 
		width: 100%;
		text-align: center;
	}

	.taba {
		list-style: none;
		left: 200px;
		top: 185px;
		color: #999999;
		position: absolute;
	}

	#tabss {
		width: 100%;
		position: absolute;
		bottom: 20px;
		left: -20px;
		top: 185px;
	}
}
